
@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&family=Playpen+Sans&family=Protest+Riot&display=swap');
*
{
    /* margin-right: 20px; */
    padding: 0;
    margin-left: 0;
    color:black;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style-type: none;

}
/* Heading  */
.t , .t5, .t2 , .t1
{
    font-family: Oldenburg; 
    font-weight: 300; 
    font-size: 28px;
    text-align: center;
    filter: drop-shadow(0 2px 2px #00aeef);
}


 /*  Navigational bar */
.container{

width: 90%;
padding-left: 5%;
padding-right: 5%;
min-height: 90vh;
overflow: hidden;
position: relative;
}

    
.logo{
    width: 15%;
    cursor: pointer;
    height:100px;
}
.navbar{
    font-size: 22px;
    font-family:"Neuton" ;
    position:absolute;
    margin: 0;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100000;
    width: 100%;
    height: 12%;
    background:#fff;
    align-items: center;
    display: flex;
    justify-content: right;
    border-radius: 10px;
    filter: drop-shadow(0 10px 10px #00aeef );
}

.navbar nav{
    display: flex;
    
}
.navbar nav a{
    list-style: none;
    position: relative;
    z-index: 2;
    align-items: center;
    display: flexbox;
    justify-content: center;  
    flex-direction: column;
   text-align: right;

}

nav{
    flex:1;
    padding-left: 60px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    justify-content: right;
    margin: 0px  20px;
    font-size: 16px;
    font-weight: 400;
    
}

nav ul li a{ 
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
}
.content h1{
    font-size: 60px;
    font-family: "Neuton";
    font-weight:400;
    margin-top: 1em;
    margin-bottom: 15px;

}
.content p{
    font-size: 20px;
    /* animation-delay: 0.5s; */
    font-family: "Neuton";
    
}
.content{
    margin-left: 8%;
    margin-top:20%;
    height:50%;
}
.content .btn{
    display: inline-block;
    background: #00aeef;
    border-top-left-radius: 40px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 18px;
    animation-delay: 1s;
    text-align: center;
    justify-content: center;
}
.content .btn:hover{
    text-decoration: wavy;
    background: rgb(0, 174, 239,70%);
}
.navbar ul li a:hover{
    transition: 0.5s;
    filter: drop-shadow(0 -5px 8px #00aeef );
    font-weight: 600; 

} 


.bgimg{
    width:40%;
    height: 60%;
    position: absolute;
    bottom: 0;
    right:5%;
    border-radius: 50%;
}
.bgimg.anim{
    animation-delay: 1.5s;
}

.anim{
    opacity: 0;
    transform: translateY(40px);
    animation: moveup 0.5s linear forwards;
}
@keyframes moveup{
    100%{
        opacity:1;
        transform: translateY(0px);
    }
}

.bgimg.anim {
    position: absolute;
    animation: round 12s linear infinite;
    opacity: 0;
  }
  
@keyframes round {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
  }
  .bgimg:nth-child(1) {
    animation-delay: 12s;
  }
  
  .bgimg:nth-child(2) {
    animation-delay: 8s;
  }
  
  .bgimg:nth-child(3) {
    animation-delay: 4s;
  }
  
  .bgimg:nth-child(4) {
    animation-delay: 0s;
  }

  
@media (max-width:700px) 
{
    navbar{
        position: unset;
    }
    
}
  /* ---------benefits of resume writing---------- */
  .content-why{
    position: relative;
    width:80%;
    margin-left: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:20px;
  }
  .content-why .whyimage{
    position: relative;
    width: 800px;
    height:400px;
    overflow: hidden;
  }
  .content-why .whyimage img{
    z-index: 111;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 50px;
  }
  .content-why .text-box{
    z-index: 222;
    padding: 40px 40px 40px 40px;
    background: rgba(0, 174, 239,0.2);
    backdrop-filter: blur(20px);
    max-width: 400px;
    border:1px solid rgb(0, 174, 239,0.1);
    border-top-left-radius: 50px;
    transform:translate(-80px,50px)
  }
  .content-why .text-box h2{
    font-size: 2em;
    margin-bottom: 10px;
  }
  

  
/* ---------Pricing offers--------- */
.flex-container{
    margin:0px;
    padding: 20px 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    width:100%;
    height:auto;
    display:flex;
  flex-wrap: wrap;
}
.flex-box{
    width:350px;
    height: 600px;
    border-radius: 10px;
    border: 5px solid #00aeef;
    color:darkblue;
    background-color: white;
    padding: 20px 0px 0px 30px;
    font-size: 18px;
    text-align:left;
    line-height: 15px;
    margin-left: 60px;
    margin-top: 20px;
    transition: background 1s;
   
}
.btn3{
    border:none; 
    background-color: #00aeef; 
    font-size:larger;
    transition: background 1s, transform 1s;
}
.btn3:hover{
    background:yellow; 
    cursor: pointer;
    transition: 1s;
}
.flex-box:hover{
    transform: translateY(-7px);
}


 /* resume swatches */
.resume{
    width:100%;
    height:69vh;
    filter: drop-shadow(0 1px 1px #00aeef );
    overflow: hidden;
}

.resume .carousel{
    width: 250px;
    margin: 20px auto 0;
    overflow: visible;
    
}
.carousel img{
    -webkit-box-reflect: below 20px linear-gradient(rgba(255,255,255,0.1));
}


/* -------------footer----------------- */

footer{
    width:100%;
    position: relative;
    bottom: 0;
    background: rgb(0, 174, 239, 70%);
    border-radius: 20px;
    font-size: 14px;
    line-height: 15px;
    font-family:"Neuton";
    overflow: hidden;
}
.row{
    width:90%;
    margin: auto;
    display: flex;
    flex-wrap: warp;
    align-items:normal;
    justify-content: space-between;
}
.col{
    flex-basis: 25%;
    padding: 5px;
}
.logo1{
    width:110px;
    height:80px;
    margin-bottom: 20px;

}

.col h3{
    width: fit-content;
    margin-bottom: 30px;
    position: relative;
}
.email-id .phnumber{
    width: fit-content;
    margin: 20px 0;
}


.social-icons a{
    /* margin-top: 10px; */
    text-decoration: none;
    font-size: 20px;
    margin-left: 1px;
    display:inline-block;
   width:35px;
    cursor:pointer;
}

.lists{
    margin: auto;
    list-style: none;
    margin-bottom: 10px;
}
.lists{
    ul li{
        text-decoration: underline;
    }
}

 /* blog */
 #blog{
    padding: 20px 0;

  }
  .blog-list{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 30px;
    margin-top: 30px;
    margin-left: 20px;
    text-wrap: wrap;
    text-align: justify;
    margin-right: 20px;
    

  }
  .container-1{
   color: black;
   text-decoration: none;
  }

  .blog-list div{
    background:rgb(249, 248, 248);
    padding: 20px 20px 20px 10px;
    font-size: 14px;
    font-weight: 300;
    border-top-left-radius: 40px;
    text-decoration: none;
    transition: background 0.5s, transform 0.5s;
  }
  .blog-list div img{
    margin-bottom: 30px;
    /* width:200px;
    height:150px; */
    width:87%;
    height:50%;
    
  }
  .blog-list a{
    text-decoration: none;
    
  }
  .blog-list div:hover{
    background: #00aeef;
    transform: translateY(-10px);
  }
  #msg{
    color: black;
    margin-top: -40px;
    display: block;
}

/* copyright */
.copyright{
    text-align: center;
    /* padding:5px; */
    font-family: serif;
}


        /* resume price */

.pricing-table{
    /* margin-top: 0px; */
   
    background-color: #f9f7f7;
    /* min-height: 30vh; */
    height: auto;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    padding:0;
    width:min(1600px,100%);
    /* width:100%; */
    box-sizing: border-box;
    justify-content: center;
}
.pricing-card{
    
    /* flex: 1; */
    width: 350px;
    background-color: rgb(255, 255, 255);
    margin: 10px 10px;
    text-align: center;
    cursor: pointer;
    color: brown;
    transition: .3s ease;
    overflow: hidden;
}
.price-card-header{

    background-color: #00aeef;
    display: inline-block;
    color: #fff;
    padding: 12px 30px;
    border-radius: 20px 0px 0px 0px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    transition: 0.4s linear;
    text-align: justify;
}
.pricing-card:hover .price-card-header{
    box-shadow: 0 0 0 34em #00aeef; 

}
.price{
    font-size: 40px;
    color: #00aeef;
    margin: 40px 0;
    transition: 0.2s linear;
    font-weight: 700;
}
.pricing-card:hover , .pricing-card:hover .price , ul:hover{
    color:#fff;
}
.pricing-card li{
    font-size: 16px;
    padding: 10px 0;
}
.order-btn{
    display: inline-block;
    margin-bottom: 40px;
    background: #00aeef;
    border: 2px solid #00aeef;
   border-top-left-radius: 30px;
   padding: 18px 40px;
   text-transform: uppercase;
   font-weight: 500;
   transition: 0.3s linear;
}
.order-btn:hover{
    background-color: #efef00;
    color:black;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
}

 /* Brand/logos animation  */
.scroll{
    position: relative;
    display: inline-block;
    width: 90%;
    height:20vh;
    overflow: hidden;
   
    mask-image: linear-gradient(90deg,transparent,#00aeef 20%,#00aeef 80%,transparent);
   
}
.scroll div{
    margin-left: 20%;
    white-space: nowarp;
    animation: animate var(--t) linear infinite;
}
@keyframes animate
{
    0%{
        transform:translateX(80%);
    }
    100%
    {
        transform: translateX(-80%);
    }
}
.scroll img{
    padding: 10px 10px;
    width:120px;
    height: 80px;
   
}
            /* Contact/ queries */
           
 .contact-left{
    flex-basis: 20%;
    width: 400px;
    margin-top:100px;
    padding: 0;
    /* height: 20vh; */
    align-items: center;
    
    
 }
.contact-right{
    flex-basis: 50%;
}

.social-icons a{
    transition: background 0.5s;
}
.social-icons a:hover{
    color: #00aeef;
    transform: translateY(-5px);
}
.btn{
    display: inline-block;
    margin: 50px auto;
    width: fit-content;
    /* border: 1px solid orange; */
    padding: 14px 30px;
    border-radius: 6px;
    text-decoration: none;
    color:#000;
    transition: background 0.5s;
}
.btn:hover{
    background: #00aeef;

}
.contact-right form{
    width:100%;
    /* padding: 20px 0; */
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background:beige ;
    padding: 15px;
    margin: 15px 0;
    color: #000;
    font-size: 18px;
    border-radius: 6px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor:pointer;
}
.containerCon{

    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    min-height: 70vh;
    overflow: hidden;
    position: relative;
    }
    nav .fa-solid{
        display:none;
    }

@media only screen and (max-width:940px)
{
    .content img
    {
        width:50%;
        height:40%
    }
    .scroll div{
        width:100%;
        /* flex-wrap: wrap; */
        height: 5vh;
        padding:0;
    }
    .scroll img
    {
        width: 13%;
        height:6vh;
        padding:5%
    }
    
    .contact-left
    {
    /* flex-basis: 20%; */
    width: 70%;
    margin-top:7px;
    padding: 0;
    opacity: 40%;
     /* height: 20vh; */
    /* align-items: center; */
    }
    .contact-left img{
        width:200%;
        height:50%
    }
    .contact-right form{
        width:100%;
    }
    nav .fa-solid{
        display:block;
        font-size: 25px;
    }
    nav ul{
        background: #fff;
        position: fixed;
        top:0;
        right: -200px;
        width: 200px;
        height:70vh;
        padding-top: 50px;
        z-index: 2;
        transition: right .5s;
        font-size: 20px;
        font-family: "Times";
    
    }
    nav ul li{
        display: block;
        margin: 25px;
        /* right:10px; */
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left:25px;
        cursor: pointer;
    }
    .logo
    {
        width:35%;
    }
   

}
        /* WHATSAPP */
.wasapp{ 
        position: fixed;
        bottom:20px;
        right: 20px;
        cursor: pointer;
  }        


    /* Responsive */


/* @media screen and (max-width:750px) 
{
    footer{
        bottom:unset;
    }
    col{
        flex-basis: 100%;
    
    }
    .content
    {
        margin-top: 100%;
        /* font-size: 1px; 
        background: #fff;
    }
    .content h1{
        font-size: 16px;
    }
    .content p{
        font-size: 12px;
    }
    .content img
    {
       width: 50%;
       height:20%;
    }}*/
    
   


/* SWIPER */
